@import "tailwindcss";

@theme inline {
  --font-display: var(--font-display);
  --font-body: var(--font-body);

  --color-paper: #f8f6f1;
  --color-ink: #17243a;
  --color-ink-soft: #4a5568;
  --color-postal-red: #e45b4f;
  --color-postal-blue: #0e1826;
  --color-line: #ddd6c8;
  --color-lavender: #e9e5f4;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-body);
}